

nav{
    display: grid;
    width: 100%;
    background-color: #989898;
    min-height: 10vh;
} 


 li a{
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    color: rgb(53, 53, 53);
}

ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-around;
    align-items: center; 
}; 

a:hover{
    font-weight: bold;
    color:black;
}




